.exam{
    text-align: center;
    background-color: rgb(83,83,83);
    height: 10rem;
    padding: 2rem;
}
h1{
    color: white;
}
.instrucciones{
    padding: 2rem;
    text-align: center;
}
.preguntas{
    padding: 5rem 10rem;
}
#fin:hover{
    background-color: white;
}